.input-file{
    width: 800px;
    background-color: white;
    border: 1px solid black;
}

ul{
    background-color: white;
    height: 400px;
    width: 800px;
    list-style: none;
    display: block;
    overflow: auto;
}

li{
    border: 1px solid black;
    width: 800px;
    background-color: white;
    list-style: none;
    height: 30px;
    color: black;
}

